@import "./presets.less";
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: @poppins;
}

.nav-items {
  .flex-fs-jc;
  list-style: none;
  column-gap: 2rem;
  padding-right: 1rem;
}
li.nav-item {
  .flex-fc-jc;
  flex-direction: column;
  color: @color-navbar;
  cursor: pointer;
  row-gap: 1.5vh;
  font-size: 0.95vw;
}
.nav-item:hover {
  color: @color-navbar-hover;
}
.nav-actions {
  .flex-fc-jc;
  gap: 1rem;
  margin-left: 1%;
}
.vertical-divider[role="separator"] {
  height: 2.7em;
}
.sign-in-btn {
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: max-content;
}
.sign-in-btn:hover {
  background-color: @color-bg-hover-buttom;
}
.sign-up-btn {
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  background: none;
  border: 1px @color-button-sign solid;
  text-align: center;
  width: max-content;
  color: @color-button-sign;
  font-weight: 700;
}
.sign-up-btn:hover {
  background-color: @color-bg-hover-buttom;
}
.logo-container {
  .flex-ai-center-fs;
  width: 33%;
}

.logo-container span {
  color: @color-button-sign;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .nav-items {
    .hide;
  }
  .vertical-divider[role="separator"] {
    .hide;
  }
  .nav-actions {
    margin-left: 10%;
  }
  .navbar {
    width: 98%;
    justify-content: space-between;
    margin: 0 1%;
  }
}
