@import "./preset.less";

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15vh;
}

.logo {
  width: 235px;
  height: 43.7px;
}
.nav-items {
  display: flex;
  list-style: none;
  justify-content: end;
  align-items: center;
  column-gap: 2rem;

  border-right: 1px gray solid;
  padding-right: 1rem;
}
.nav-items {
  .flex-fs-ai-center;
  list-style: none;

  column-gap: 2rem;
  border-right: 1px gray solid;
  padding-right: 1rem;
  width: 20%;
}
li.nav-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: @color-text-low-emphasis;
  cursor: pointer;
  row-gap: 1.5vh;
  font-size: 0.95vw;
  font-family: @poppins;
}
.nav-item:hover {
  color: black;
}
.nav-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 1rem;
  margin-left: 1%;
}
.sign-in-btn {
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: max-content;
}
.sign-in-btn:hover {
  background-color: rgb(230, 226, 226);
}
.sign-up-btn {
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  background: none;
  border: 1px #116ac3 solid;
  text-align: center;
  width: max-content;
  color: #116ac3;
  font-weight: 700;
}
.sign-up-btn:hover {
  background-color: rgb(235, 227, 227);
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  align-items: center;
}
.logo-container span {
  color: #0a66c2;
  font-size: 1.9vw;
  font-weight: 700;
}
.logo-container .logo2 {
}
