@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v28/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neucha/v17/q5uGsou0JOdh94bvug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v28/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neucha/v17/q5uGsou0JOdh94bvug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@color-input-hover :rgb (232, 240, 254);
.flex-fs-jc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex-jc-sb-ai-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-jc-end-ai-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-fs-js {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.flex-fs-jb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-fs-ja {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.flex-fs-jc {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.flex-fe-jc {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flex-ai-center-fs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-fc-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-fsr-jc {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.grid-fs-c {
  display: grid;
  align-items: flex-start;
  justify-content: center;
}
.grid-fe-c {
  display: grid;
  align-items: flex-end;
  justify-content: center;
}
.grid-fc-c {
  display: grid;
  align-items: center;
  justify-content: center;
}
.input-design {
  border-radius: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 200;
}
.hide {
  display: none;
}
.carosel-container {
  width: 100%;
}
.carousel-control-next-icon {
  background-image: url("https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png") !important;
}
.carousel-control-prev-icon {
  background-image: url("https://www.iconpacks.net/icons/2/free-arrow-right-icon-3098-thumb.png") !important;
}
.carosel-controll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.carosel-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5%;
  padding-right: 10%;
  background-color: #f1ece5;
  width: 100%;
}
.action-btn {
  background: none;
  outline: none;
  border: none;
  border-radius: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration-line: none;
}
.btn-txt {
  font-family: "Poppins", sans-serif;
}
.action-btn:hover {
  background-color: #f3f2f0;
}
.slideInner___2mfX9 {
  width: 90% !important;
  height: fit-content !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  column-gap: 1rem;
}
.slide-image-container {
  width: 40% !important;
}
.slide-img {
  width: 100% !important;
  height: 100% !important;
}
.slide-item {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.slide-item h1 {
  color: #8f5849;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.slide-item p {
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-top: 10px;
  padding: 0;
}
.slide___3-Nqo {
  width: 37.3333% !important;
  padding-bottom: 41.6667%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #f1ece5;
}
.sliderTray___-vHFQ {
  display: flex;
  height: 70vh;
}
