.main-container {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.connection {
  width: 64%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.connection-form {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  width: 40%;
}
.connection-form h1 {
  width: 100%;
  font-size: 56px;
  font-weight: 200;
  color: rgb(146, 90, 6);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.connection-form form {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.connection-form form input {
  color: rgba(0, 0, 0, 0.9);
  height: 2rem;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  background-color: transparent;
  padding: 20px 12px 4px;
  outline: none;
}
.btn-login {
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  background: rgb(42, 156, 231);
  border: none;
  color: white;
  padding: 15px;
}
.image {
  mask-image: url("https://static.licdn.com/aero-v1/sc/h/dxf91zhqd2z6b0bwg85ktm5s4");

  width: 55%;
}
.divider {
  display: flex;
}
.line {
  width: 30%;
}
