body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: rgb(82, 80, 80);
}

a:visited {
  color: black;
}
